<ion-view title='post' cache-view='false'>
    <ion-content padding='true' class='has-header'>
        <form id='formulRio-form1' class='list'>
            <label class='item item-input'>
                <span class='input-label'>Id</span>
                <input type='text' placeholder='Id' ng-model='post.id'>
            </label>
            <label class='item item-input'>
                <span class='input-label'>Title</span>
                <input type='text' placeholder='Title' ng-model='post.title'>
            </label>
            <label class='item item-input'>
                <span class='input-label'>Body</span>
                <input type='text' placeholder='Body' ng-model='post.body'>
            </label>
            <button class="button button-positive button-block ic-selected" data-componentid="button5">Save</button>
        </form>
    </ion-content>
</ion-view>